# Virtual enviroments
.venv/
venv/
ENV/
env/

# Cashe
**/__pycache__/
*.py[cod]
*$py.class

# JetBrains stuff
.idea/

# OS Files
.DS_Store
thumbs.db

# Logs and temproraries
*.log

# Secrets
.env
.env.local

# Certificates
*.crt
*.key
*.pem
*.p12
*.p8
*.ca-bundle
